body {
	background-color: #111111;
	background-image: url("shared_files/bg5.png");
	background-attachment: fixed;
    background-repeat: no-repeat;
	background-size: 60% auto;
    background-position: center;
	
	font-family: 'Muli', sans-serif;

}

@media (min-aspect-ratio: 13/16) {
	body {	
		background-size: 40% auto;
	}
}

@media (min-aspect-ratio: 16/12) {
	body {	
		background-size: 30% auto;
	}
}

section {
	color: white;
	border-radius: 1em;
	padding: 1em;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

a {
	text-decoration: none;
	outline: 0;
}
a:link {
	color: #ffffff;
}
a:visited {
	color: #ffffff;
}
a:hover {
	outline-style: solid;
	outline-color: white;
	color: #7a7a7a;
}
a:active {
	color: #ffffff;
} 
a:focus {
	color: #7a7a7a;
}

.footer {
	font-size: 11;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	opacity: 0.2;
}